.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination li {
  padding: 5px 10px;
  margin: 0 2.5px;
  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
}

.pagination li:hover {
  background-color: white;
  color: var(--text-color);
}

.pagination .active {
  background-color: var(--tertiary-color);
  color: #fff;
}

.pagination .disabled {
  visibility: hidden;
  cursor: not-allowed;
}
